apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  serviceName: postgres-hl
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: hcloud-postgres-storage
        resources:
          requests:
            storage: 20Gi # Larger storage for production
