---
auto_deploy: true # Set to false to disable automatic deployment
hetzner_token: HETZNER_TOKEN # Will be replaced by GitHub Actions from secrets
cluster_name: hetzner-dev-cluster
kubeconfig_path: "./kubeconfig"
k3s_version: v1.32.0+k3s1

networking:
  ssh:
    port: 22
    use_agent: true
    public_key_path: "~/.ssh/id_rsa.pub"
    private_key_path: "~/.ssh/id_rsa"
  allowed_networks:
    ssh:
      - 0.0.0.0/0 # TODO: Restrict to your IP after initial setup
    api:
      - 0.0.0.0/0 # TODO: Restrict to your IP after initial setup
  public_network:
    ipv4: true
    ipv6: true
  cni:
    enabled: true
    encryption: true
    mode: flannel

schedule_workloads_on_masters: false

masters_pool:
  instance_type: cpx11
  instance_count: 1
  location: ash

worker_node_pools:
  - name: small-static
    instance_type: cpx21
    instance_count: 1
    location: ash
  - name: medium-autoscaled
    instance_type: cpx21
    location: ash
    autoscaling:
      enabled: true
      min_instances: 0
      max_instances: 1

protect_against_deletion: true

k3s_upgrade_concurrency: 1 # how many nodes to upgrade at the same time
